h1 {
  text-align: center;
}
#text-input {
  width: 80%;
  display: block;
  margin: 5% auto;
  height: 10vh;
  padding: 1rem;
}
button {
  margin-left: 50%;
  transform: translateX(-50%);
}
.output-heading {
  text-align: center;
  margin: 3%;
}
.output {
  width: 80%;
  margin: 1% auto;
  padding: 1rem;
  border: 1px solid black;
  height: 10vh;
}
